# Datos y Bases de Datos
*.db
*.sqlite
*.csv
*.xlsx
*.pdf
*.docx
*.pbix
/postgres_data/

# Ignorar archivos en data/, pero MANTENER la estructura de carpetas
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep


# Modelos de Machine Learning y Logs
*.pkl
*.joblib
*.pt
*.pth
*.h5
*.log
models/


# Entornos y Seguridad
venv/
.env
.DS_Store

# Notebooks y Python
__pycache__/
.ipynb_checkpoints/
*.py[cod]