# Análisis de datos y manipulación
pandas
numpy
openpyxl

# Visualización de datos
matplotlib
seaborn
plotly

# Machine Learning y Modelado
scikit-learn
statsmodels
xgboost
scipy
shap

# Conectividad y Bases de Datos
sqlalchemy
pyodbc

# Motor para Jupyter Notebooks 
ipykernel
ipywidgets
joblib
streamlit